@{
    ViewData["Title"] = "About";
}

<div>
    <div class="p-5 mb-3 shadow text-center" style="color: forestgreen; border: groove; border-color: seagreen">
        <h1 class="display-4"><i class="glyphicon glyphicon-tree-deciduous"></i> Welcome to Green Garden</h1>
        <p>A place for gardeners</p>
    </div>
    <p>
        <span class="bg-success">Green Garden</span> is a non-profit organization with the goal of bringing local gardeners together <br />
    through community particpation within local gardens. We sell seeds, gardening tools, soil, <br />
    and lawn gnomes to any of our members, as well as regular consumers. We also hold a holistic<br />
    gardening meeting twice a week for anyone interested in the powerful, medicinal impact of gardening.<br />
    Anyone looking for work within Green Gardens can send us an email.<br /> <br />
        Please check the <span class="text-info">Contact</span> page for more information.
    </p>
</div>