@{
    ViewData["Title"] = "Contact";
}

<div>
    <div class="p-5 mb-3 shadow text-center" style="color: forestgreen; border: groove; border-color: seagreen">
        <h1 class="display-4"><i class="glyphicon glyphicon-tree-deciduous"></i> Welcome to Green Garden</h1>
        <p>A place for gardeners</p>
    </div>
    <div class="ms-3">
        <h4>Contact Information:</h4>
        <address>
        300 Munson Ave<br />
        Traverse City, MI 49696<br />
        <i class="glyphicon glyphicon-earphone" style="font-size:24px"></i> 333.333.3333
    </address>
    <address>
        <strong>Cheboygan Office: </strong> <a href="mailto:ggcheboygan@gmail.com">ggcheboygan@gmail.com</a> <br />
        <strong>Coin and Spade:</strong> <a href="mailto:ggcoindandspade@gmail.com">ggcoinandspade@gmail.com</a>
    </address>
    </div>
</div>