@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="p-5 mb-3 shadow" style="color: forestgreen; border: groove; border-color: seagreen">
        <h1 class="display-4"><i class="glyphicon glyphicon-tree-deciduous"></i> Welcome to Green Garden</h1>
        <p>A place for gardeners</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Gardening</h1>
            <p>Find an outlet near you to supply all of your gardening needs, from seeds to tools</p>
            <img src="~/images/gardening.jpg" style="max-width: 300px" />
        </div>
        <div class="col-md-6">
            <h1>Holistics</h1>
            <p>Learn more about how gardening coincides with health</p>
            <img src="~/images/holistic_gadrening.webp" style="max-width: 300px" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Community</h1>
            <p>Join a group of local, like-minded gardeners on common grounds</p>
            <img src="~/images/community_gardening.webp" style="max-width: 300px"/>
        </div>
        <div class="col-md-6">
            <h1>Purpose</h1>
            <p>Get payed for gardening</p>
            <img src="~/images/gardening_shovel.jpg" style="max-width: 300px" />
        </div>
    </div>
</div>
